@import './typography.scss';

// components
@import './styled-button.scss';

.auth-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 100%;
    gap: 40px;
    padding: 96px 60px;

    .naming {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12.5px;
      width: 100%;

      .logo {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        padding: 4.5px 6px;
        background-image: url('../svg/icon.svg');
      }

      .name {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: -0.02em;
        text-align: center;
      }
    }

    .login-text {
      @include typo-headline-2;
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;

      .input-form-container {
        .input-form-label {
          @include typo-input;

          margin-left: 8px;
        }

        .input-form {
          width: 100%;
          padding: 18px 12px;
          border-radius: 8px;
          border: 1px solid var(--gray-400);
          border-radius: 8px;
          background: var(--white);
          color: var(--black);
        }

        .input-form-with-icon {
          position: relative;
          width: 100%;

          .input-form {
            padding-right: 24px;
            width: 100%;
          }

          .input-eye-icn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            cursor: pointer;
            width: 24px;
            height: 24px;
            background-image: url('../svg/eye-icon.svg');
            background-size: 24px 24px;
            background-position: 0 0;
          }
        }

        .input-form-error {
          @include typo-input-error;

          margin-left: 8px;
          color: var(--error);
        }
      }
    }
  }

  .background {
    flex: 1;
    height: 100%;
    background-image: url('../svg/login-background.svg');
    background-size: cover;
    background-position: center center;
  }
}