/* NunitoSans-ExtraLight */
@font-face {
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-ExtraLight.ttf') format('truetype');
}

/* NunitoSans-Light */
@font-face {
  font-weight: 300;
  font-family: 'NunitoSans-Light';
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-Light.ttf') format('truetype');
}

/* NunitoSans-Regular */
@font-face {
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

/* NunitoSans-SemiBold */
@font-face {
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

/* NunitoSans-Bold */
@font-face {
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-Bold.ttf') format('truetype');
}

/* NunitoSans-ExtraBold */
@font-face {
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-ExtraBold.ttf') format('truetype');
}

/* NunitoSans-Black */
@font-face {
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-display: auto;
  src: url('../fonts/NunitoSans-Black.ttf') format('truetype');
}

/* NunitoSans-ExtraLightItalic */
@font-face {
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-ExtraLightItalic.ttf') format('truetype');
}

/* NunitoSans-LightItalic */
@font-face {
  font-weight: 300;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-LightItalic.ttf') format('truetype');
}

/* NunitoSans-Italic */
@font-face {
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-Italic.ttf') format('truetype');
}

/* NunitoSans-SemiBoldItalic */
@font-face {
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
}

/* NunitoSans-BoldItalic */
@font-face {
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-BoldItalic.ttf') format('truetype');
}

/* NunitoSans-ExtraBoldItalic */
@font-face {
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
}

/* NunitoSans-BlackItalic */
@font-face {
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-display: auto;
  src: url('../fonts/NunitoSans-BlackItalic.ttf') format('truetype');
}
