.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../svg/sprite-icons.svg');
  background-size: 48px 312px;
  background-position: var(--icon-offset) 0;
}

.network {
  background-position: var(--icon-offset) 0;
}

.account {
  background-position: var(--icon-offset) -24px;
}

.chevron-right {
  background-position: var(--icon-offset) -48px;
}

.plus {
  background-position: var(--icon-offset) -72px;
}

.eye {
  background-position: var(--icon-offset) -96px;
}

.dots {
  background-position: var(--icon-offset) -120px;
}

.moon {
  background-position: var(--icon-offset) -144px;
}

.arrow-left {
  background-position: var(--icon-offset) -168px;
}

.restart {
  background-position: var(--icon-offset) -192px;
}

.edit {
  background-position: var(--icon-offset) -216px;
}

.remove {
  background-position: var(--icon-offset) -240px;
}

.logout {
  background-position: var(--icon-offset) -264px;
}

.filter {
  background-position: var(--icon-offset) -288px;
}
