.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;

  .add-chat {
    padding: 12px 16px;
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
    overflow-y: auto;

    .table-container {
      tr {
        position: relative;
      }
    }
  }

  .sidebar-footer {
    border-top: 1px solid var(--gray-200);
    padding: 12px 16px;

    .popper {
      gap: 4px;
      cursor: default;

      .account-popper-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 0;

        &:hover {
          background-color: var(--gray-200);
        }
      }

      .break-line {
        border: 1px solid var(--gray-200);
        margin: 0 10px;
      }
    }
  }
}

.show {

}

.hide {
  display: none;
  appearance: none;
}