@import './icons.scss';

.link-btn {
  @include typo-btn-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 8px;

  &:hover {
    background-color: #EBECF0;
  }

  .link-text {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.selected {
  background-color: #EBECF0;
}
