.button {
  @include typo-btn-1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border: 1px solid var(--blue-300);
  border-radius: 8px;

  .button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--gray-800);
  }

  &.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }

  &:disabled {
    border-color: var(--blue-300);
    background-color: var(--blue-300);
    cursor: default;
  }
}
