@import './typography.scss';

.input-container {
  .input-label {
    @include typo-input;

    margin-left: 8px;
  }

  .input {
    @include typo-input;

    width: 100%;
    padding: 18px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    background: var(--white);
    color: var(--black);

    &:focus {
      border-color: var(--primary)
    }
  }

  .input-error {
    @include typo-input-error;

    margin-left: 8px;
    color: var(--error);
  }
}