$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1440px;

// colors
$light_white: "#ffffff";
$light_white-rgba: "255, 255, 255";
 
$light_blue-100: "#f0f5ff";
$light_blue-300: "#abbde0";
$light_blue-500: "#3e7fff";
$light_primary: "#0f62fe";
$light_gray-100: "#f4f5f7";
$light_gray-200: "#ebecf0";
$light_gray-300: "#d5d7db";
$light_gray-400: "#b0b3b8";
$light_gray-600: "#70737a";
$light_gray-800: "#252733";
 
$light_black: "#131314";
$light_black-rgba: "19, 19, 20";
 
$dark_white: "#131314";
$dark_white-rgba: "19, 19, 20";
 
$dark_blue-100: "#181b29";
$dark_blue-300: "#3760ad";
$dark_blue-500: "#3e7fff";
$dark_primary: "#5b94fe";
$dark_gray-100: "#181a1f";
$dark_gray-200: "#252733";
$dark_gray-300: "#414752";
$dark_gray-400: "#70737a";
$dark_gray-600: "#b0b3b8";
$dark_gray-800: "#ebecf0";
 
$dark_black: "#ffffff";
$dark_black-rgba: "255, 255, 255";
 
// ---
 
$light_red-200: #fae1e5;
$light_green-200: #dcf2dc;
$light_blue-200: #dcedf5;
$light_yellow-200: #fae9c8;
 
$dark_red-200: #3d2b2e;
$dark_green-200: #2b3d2b;
$dark_blue-200: #2b373d;
$dark_yellow-200: #4d4536;
 
// ---
 
$light_light_rose: #fac8d0;
$light_light_apricot: #fad2b4;
$light_double_colonial_white: #f0e4a8;
$light_tea_green: #c9f0c9;
$light_jagged_ice: #c4e5f5;
 
$dark_light_rose: #7a2c39;
$dark_light_apricot: #6b3920;
$dark_double_colonial_white: #705c0b;
$dark_tea_green: #2d662d;
$dark_jagged_ice: #295266;
 
// ---
 
$light_error: #B00020;
 
$dark_error: #CF6679;